---
// Layout component for site-wide styles and structure
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<html lang="en" data-theme="black">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Johnny's Decks</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="color-scheme" content="dark light" />
  </head>
  <body
    class="[background:var(--gradient-background)] min-h-screen text-[var(--color-text-primary)] font-sans no-scrollbar flex flex-col"
  >
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
    <!-- <ThemeNotification /> -->
  </body>
</html>
